<!DOCTYPE html>
<html>
<head>
    <title>Data Visualizations</title>
    <style>
        .plot-buttons {
            margin-bottom: 20px;
        }
        .plot-buttons form {
            display: inline-block;
        }
        .plot-buttons button {
            margin-right: 10px;
        }
        .dropdown {
            margin-bottom: 20px;
        }
        .dropdown select {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <form method="get" action="{% url 'view_data' %}">
        <button type="submit">View Data</button>
    </form>
    <br>
    <form method="get" action="{% url 'upload_file' %}">
        <button type="submit">Upload New File</button>
    </form>
    <br><br>
    <br><br>
    <h1>Data Visualizations</h1>

    <div class="plot-buttons">
 
    <form method="get" action="{% url 'visualize_data' %}">
        <div class="dropdown">
            <label for="column">Select Column:</label>
            <select id="column" name="column">
                <option value="">--Select Column--</option>
                {% for column in columns %}
                    <option value="{{ column }}" {% if column == column %}selected{% endif %}>{{ column }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="dropdown">
            <label for="plot_type">Select Plot Type:</label>
            <select id="plot_type" name="plot_type">
                <option value="">--Select Plot Type--</option>
                {% for type in plot_types %}
                    <option value="{{ type }}" {% if type == plot_type %}selected{% endif %}>{{ type|capfirst }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Generate Plot</button>
    </form>
    </div>

    {% if plot_uri %}
    <h2>{{ plot_type|capfirst }} for {{ column }}</h2>
    <img src="data:image/png;base64,{{ plot_uri }}" alt="{{ plot_type }} for {{ column }}">
{% else %}
    <p>Select a column and plot type to view.</p>
{% endif %}
    <br><br>
    <!-- Boostrap -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://cdnjs.com/libraries/Chart.js"></script> -->
</body>
</html>
